<%- include('./partials/header'); -%>

    <form action="/login" method="POST">
        <input name="email" placeholder="enter email">
        <input  type="password" name="password" placeholder="enter password">
        <button type="submit">Submit</button>
 `  </form>
    
<%- include('./partials/footer'); -%>

