<%- include('./partials/header'); -%>

    <form action="/register" method="POST">
        <input name="name" placeholder="enter name">
        <input name="email" placeholder="enter email">
        <input type="password" name="password" placeholder="enter password">
        <button type="submit">Submit</button>


    </form>
    
<%- include('./partials/footer'); -%>

